#navbar{
    display: flex;
    justify-content: space-around;
    font-size: 28px;
    background-color: blue;
    padding: 10px;
    margin-bottom: 10px;
}
a{
    color: white;
    text-decoration: none;
}